* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}


body {
  font-family: noto-sans, sans-serif;

  width: 100%;
  height: 100%;
  animation: ambientAnimation 16s ease infinite;
  background: linear-gradient(
    125deg,
        #ff4422 /* fire */,
        #00cc33 /* grass */,
        #3399ff /* water */,
        #ff99cc /* fairy */,
        #ffcc33 /* electric */,
        #ff5599 /* psychic */,
        #775544 /* other */
      );
  background-size: 300% 300%;
}

@keyframes ambientAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 25%; /* Change background position */
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 75%; /* Change background position */
  }
  100% {
    background-position: 0% 50%;
  }
}

.navigation-search {
  max-width: 800px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

.navigation-search img {
  height: 100px;
  width: auto;
}

#pokemon-animation {
  width: 200px;
  margin: 10px -20px -20px 0px;
}



.d-none {
  display: none;
}

.fade {
  transition: opacity 0.6s ease; /* Adjust the time as needed */
}

.invisible {
  opacity: 0;
}


.card-container {
  max-width: 1300px;
  min-height: 80vh;
  margin: 0 auto;
  padding: 10px;
  /* border: 1px solid red; */
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

/* Navbar */
.search {
  margin-top: 10px;
  --offset: 3px;
  background: #f5cc07;
  border-radius: 50px;
  position: relative;
  height: 40px;
  width: 200px;
  max-width: 100%;
  overflow: hidden;
}

.search input::placeholder {
  color: rgb(57, 57, 57);
}

.search input:focus {
  outline: none; /* Removes the default focus outline */
  border: none; /* Removes any border set on the input */
}


.search::before {
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}


.search::after {
  content: '';
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

.search input {
  background: transparent;
  color: rgb(57, 57, 57);
  font-size: 14px;
  position: absolute;
  inset: 0;
  z-index: 10;
  padding: 12px 16px;
  border: none;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}

/* Small Cards */

.pokemon-card-small {
  width: 300px;
  height: 400px;
  /* margin: 6px auto; */
  /* padding: 10px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
  background-color: #00cc33;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.imagecontainer-card-small {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.imagecontainer-card-small img {
  width: 150px;
  height: auto;
}

.imagecontainer-animation-card-small img {
  width: auto;
  height: 60px;
  margin-right: 6px;
}

.info-card-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card-small h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 10px;
  color: rgb(57, 57, 57);
}

.info-card-small .number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 300;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-radius: 50%;
  /* padding: 22px 22px; */
  color: rgb(57, 57, 57);
}

.type {
  margin-top: 6px;
  font-size: 16px;
}

.info-card-small small {
  color: rgb(57, 57, 57);
}


/* Large Cards */
#enlargedContainer {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.8); */
  z-index: 1000;
  
}

.pokemon-card-large {
  width: 500px;
  height: 700px;
  margin: 150px auto;
  /* padding: 10px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* color: white; */
  background-color: #00cc33;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
 
}




.largeCardNav{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}
.cardNavIcons{
  height: 45px;
  width: auto;

  opacity: 0.7;
  transition: opacity 0.2s ease;
  cursor: pointer;
}

.cardNavIcons:hover{
  opacity: 1;
}


.topcontainer-card-large {
  background-color: rgba(255, 255, 255, 0.5);
  /* border-radius: 50%; */
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -60px;
  /* margin-bottom: 20px; */
  border-radius: 20px 20px 0px 0px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
   
}


.topcontainer-card-large img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.topcontainer-card-large-infos{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 20px;

}

.number-large{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}


.topcontainer-card-large-infos img{
  margin: 0px;
  height: 40px;
  width: auto;
}

/* .info-card-large {
  height: 10px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.bottomcontainer-card-large{
  border: 1px solid red;
  width: 100%;
  height: 55%;
}

